.search-container {
    width: 94vw;
    height: auto;
    margin: 2.8rem 1.8rem 0 1.8rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}
.search-box {
    width: 94%;
    
}
.search-bar-body, .select-box {
    width: 100%;
    margin: 0.8rem 0;
}
#cat {
    height: 2.4rem;
    width: 98.5%;
    border: none;
    border: 1px solid #fafafa;
    border-radius: 4px;
    outline: none;
    background: none;
    color: #c9c9c9;
    font-size: 16px;
    /* max-width: 352px; */
}
.search-bar {
    padding: 0;
    padding: 0 2%;
    border: none;
    border: 1px solid #fafafa;
    border-radius: 4px;
    background: none;
    outline: none;
    width: 94%;
    height: 2.4rem;
    font-size: 16px;
    color: #fafafa;
}
::placeholder {
    color: #c9c9c9;
    /* font-family: 'Roboto', sans-serif; */
}
.submit-btn {
    outline: none;
    border: none;
    padding: 0;
    width: 100%;
    height: 2.8rem;
    border-radius: 4px;
    font-size: 16px;
    background: none;
    max-width: 352px;
    color: #fafafa;
    background-color: #e1ad01;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 4px #585858;
}