h1{
  color:white
}

.main-container{
  display:flex;
  padding-top:40px;
}
#upload-Bg{
  display: none;
}

/* the dropzone, also define the namecard boundary */
.namecard-zone {
  /* normal namecard aspect ratio: 1.586:1 */
  width: 126.9vh;
  height:80vh;
  background-color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s;
  display:flex;
  flex-wrap:wrap;
  position: relative;
  box-sizing: border-box;
  margin:20px 0px;
  max-width:800px;
  max-height:504px;
}

.control-container{
  width:25vw;
  box-sizing: border-box;
  padding:20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trash-zone{
  width: 100%;
  background-color: gray;
  border: dashed 4px white;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 4rem;
}

.form-control{
  justify-content: center;
  display: flex;
  align-items: center;
}
.upload-btn{
  display: flex;
}
#upload-image{
  display: none;
}

.background-img{
  width: 126.9vh;
  height:80vh;
  max-width:800px;
  max-height:504px;
}

/* define dropzone border style when dragging a droppable element */
.drop-active {
  border-color: none;
}

/* define dropzone style when a droppable element is placed in dropzone */
.drop-target {
  background-color:none;
  border-color: #fff;
  border-style: solid;
}


/* define the draggable-droppable element style */
.droppable-text {
  display: inline-block;
  min-width: 40px;
  font-size:18px;
  box-sizing: border-box;
  color: #000000;
  /* background-color:#7c7c7c5e; */
  touch-action: none;
  transform: translate(0px, 0px);

  transition: background-color 0.3s;

  position:absolute;
  z-index:100;
  text-align:start
}
.droppable-text:hover{
  border: 1px dotted #353535;
  
}
/* define the draggable-droppable element style when placed in drop zone */
.droppable-text.can-drop {
  color: #000;
  background-color:none ;
}

.droppable-text.can-drop.dropped {
  color: #000;
  background-color:none;
}

.droppable-text.will-remove {
  color: #000;
  background-color: #ff00008c ;
}

.droppable-image{
  /* limit the initial size so that it wont block other buttons even scaled */
  width:200px;
  height:auto;
  z-index:50;
}

/* pinch to zoom */
.scale-element {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
  touch-action: none;
}
.scale-element.reset {
  transition: transform 0.3s ease-in-out;
}

.submit-btn {
  outline: none;
  border: none;
  padding: 0;
  width: 100%;
  height: 2.8rem;
  margin-top: 0.8rem;
  border-radius: 8px;
  font-size: 18px;
  background: none;
  max-width: 388px;
  color: #fafafa;
  background-color: #e1ad01;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 0 4px #585858;
}
@media screen and (orientation:portrait) { 
  .main-container{
    display:block;
    margin: 0;
  }
  .namecard-zone{
    width:80vw;
    height:50.45vw;
    margin:auto

  }
  .trash-zone{
    width:75%;
    margin-left:auto;
    margin-right:auto
  }
  .control-container{
    width:100%
  }
  .background-img{
    width:80vw;
      height:50.45vw;
  }
  .background-img{
    width:80vw;
      height:50.45vw;
  }
}

@media screen and (max-height: 500px) {
  .main-container{
    padding-top:20px;
  }
  .control-container{
    padding-top: 0px;
  }
  .trash-zone{
    height:25%
  }
  .submit-btn{
    font-size:smaller;
    height:2rem;
    margin-top: 0.3rem;
  }

}
