.title-container {
    margin-top: 0.8rem;

}
.edit-container {
    margin: 4.8rem 1.8rem;
    z-index: 1;
}
.form-control {
    border: none;
    outline: none;
    padding: 0;
    width: 94%;
    height: 2.8rem;
    margin-top: 0.6rem;
    border: 1px solid #fafafa;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    padding: 0 2%;
    max-width: 352px;
    color: #aaaaaa;
    font-family: 'Roboto', sans-serif;
}
::placeholder {
    color: #aaaaaa;
    font-family: 'Roboto', sans-serif;
}

::-webkit-file-upload-button {
    border: 1px solid #fafafa;
    background: #fafafa;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    height: 2.8rem;
}

.submit-btn {
    outline: none;
    border: none;
    padding: 0;
    width: 100%;
    height: 2.8rem;
    margin-top: 1.8rem;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    max-width: 388px;
    color: #fafafa;
    background-color: #e1ad01;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 0 4px #585858;
}