.title-container {
    margin: 6rem 0; 
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-title {
    color: #353535;
    font-weight: bolder; 
    width: 94%;
    padding: 0 2%;
    max-width: 352px;
    text-align: start;
    margin-top: 0.4rem;
}
.form-control {
    color: #fafafa; 
}