.title-name{
    display: none;
}
.scanOrUpload{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 60px;
}
.left , .right{
    font-size: 80px;
    margin:0 2px ;
}
.scan-upload{
    display: flex;
}
.button-text{
    font-weight: bold;
    font-size: 26px;
}
#file-input{
    display: none;
}