body {
    margin: 0;   
    background-image: url('assets/app_bkgd_img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    position: relative;
    display: flex; 
    justify-content: center;
}

.bkgd-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;  
}

.bkgd-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080; 
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 18px;
    text-decoration: none;
    font: 36px;
    color: #999999;
    display: block;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute; 
    top: 2%;
    left: 2%; 
    font-size: 36px;
    padding: 0;
}
.openNav-btn {
    color: #999999;
    font-size: 24px;
    position: absolute; 
    top: 2%;
    left: 2%;
}
.openNav-btn:hover {
    cursor: pointer;
}