.main-container {
    margin: 0;
    width: 100%;
    height: 100%; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    z-index: 1;
}
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 38vh;
    position: relative;
}

.profile-img-container {
    width: 160px;
    height: 160px;
    /* border: 1px solid #e1ad01; */
    border-radius: 500px;
    box-shadow: 0 1px 8px #353535;
    margin: 4vh 0 2vh 0;
    /* z-index: 1;  */
}

.profile-img {
    object-fit: cover;
    width: 160px;
    height: 160px;
    border-radius: 500px;
}

.display-name {
    font-weight: bolder;
    color: #fafafa;
    font-size: 24px;
}

.display-email {
    font-size: 16px;
    color: #e1ad01;
}
.title-name {
    font-size: 24px;
    color: #fafafa;
}
.prompt-message {
    color: #B80F04;
    font-size: 16px;
}
.function-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 62vh;
    z-index: 1;
    /* background-color: #fafafa; */
    /* border-top-left-radius: 32px;
    border-top-right-radius: 32px; */
}
.function-group {
    width: 100%;
    max-width: 360px;
    margin-top: 0.8rem;
    background-color: #fafafa99;
    /* color: #353535; */
    height: 12.8vh;
    /* border: 1px solid #fafafa; */
    border-radius: 4px;
    position: relative; 
    /* box-shadow: 2px 2px 8px #18252f; */
}
/* a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
} */
.function-overlay {
    width: 100%;
    height: 100%;
}
.function-text {
    position: absolute; 
    top: 50%;
    left: 4%;
    /* text-align: start; */
    transform: translateY(-50%); 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #353535;
}
