.card-container {
    width: 94vw;
    height: auto;
    min-height: 86vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.8rem 0;
    z-index: 1;
}

.card-group {
    margin: 0.4rem 0.4rem;
    /* background: linear-gradient(45deg, #e1ad01, #ffefb8); */
    background-image: url('assets/card_sample_1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    width: 390px;
    height: 236px;
    color: #38566d;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 4px 4px 12px #191919;
}
.card-field {
    width: 86%;
    height: 80%;
}
.info-group {
    margin-bottom: 8%;
}
.card-name {
    font-size: 28px;
}
.company-name {
    font-size: 20px;
}
.address {
    color: #38566d;
}
.phone-group, .email-group {
    display: flex;
    align-items: center;
}
.contact, .email {
    color: #696969;
    flex: 1;
}
.fa-phone-alt, .fa-envelope {
    margin-right: 4%;
}
.delete-icon {
    position: absolute;
    top: -3%;
    right: -3%;
    background-color: #fafafa;
    width: 36px;
    height: 36px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-icon .fas {
    color: #38566d;
}
/* .cfn-delete-box {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fafafa;
} */