a{
    color: white;
}
.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-img-container{
    width: 100%;
    height: 100%;
    margin:  8% 0;
    
    
}
.name-card-img{
    object-fit: contain;
    width: 80vw;
    height: 100%;
}
.btn-container{
    display: flex;
    justify-content:space-between;
    font-size: 50px;
    color: white;
    width: 30%;
}
canvas{
    z-index:2;
}
@media only screen and (max-width: 415px) {
    .main-container{
        height: 90vh;
    }
    .card-img-container{
        transform: rotate(90deg);
        margin: 20% 0;
    }
    .name-card-img{
        width: 60vh;
    }
    .btn-container{
        margin-top: 5vh;
    }
    
  
  }