body {
    margin: 0;
    background-image: url('assets/app_bkgd_image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bkgd-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.bkgd-overlay {
    background-color: #00000080;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 3; 
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 18px;
    text-decoration: none;
    font: 36px;
    color: #999999;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute; 
    top: 2%;
    left: 2%; 
    font-size: 36px;
    padding: 0;
}
.openNav-btn {
    color: #c9c9c9;
    font-size: 24px;
    position: absolute; 
    top: 0.8rem;
    left: 2%;
    z-index: 2;
}
.openNav-btn:hover {
    cursor: pointer;
}