.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.logo-container {
    width: 100%;
    height: 50%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fafafa;
}
.logo {
    font-size: 60px;
    margin-top: 3.2rem;
}

.logo-text {
    font-size: 20px;
    color: #919191;
}
.login-container {
    width: 100%;
    height: 46%;
    text-align: center;
}
.login-input {
    border: none;
    outline: none;
    padding: 0;
    width: 94%;
    height: 2.8rem;
    margin-top: 0.6rem;
    border: 1px solid #fafafa;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    padding: 0 2%;
    max-width: 320px;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
::placeholder {
    color: #aaaaaa;
    font-family: 'Roboto', sans-serif;
}
.login-btn, .create-acc-btn {
    outline: none;
    border: none;
    padding: 0;
    width: 98.6%;
    height: 2.8rem;
    margin-top: 1.8rem;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    max-width: 352px;
    color: #fafafa;
    background-color: #e1ad01;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 0 4px #585858;
}
.login-btn, .create-acc-btn:hover {
    cursor: pointer;
}
.signup-text-group {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #c9c9c9;
    margin-top: 0.4rem;
}
.signup-btn, .signin-btn {
    margin: 0;
    font-size: 12px;
    padding: 0; 
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}
.signup-btn, .signin-btn:hover {
    cursor: pointer;
}
.social-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-login-text {
    font-family: 'Roboto', sans-serif;
    color: #c9c9c9;
    margin: 1.2rem 0 1.2rem 0;
    font-size: 14px;
}
.social-login-body {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 320px;
}
.social-login-icon {
    width: 36px;
    height: 36px;
    border: 1px solid #e1ad01;
    border-radius: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-login-icon .fab {
    color: #fafafa;
    font-size: 20px;
}
a {
    text-decoration: none;
}
.social-login-icon:hover {
    cursor: pointer;
}
.signup-container {
    width: 100%;
    height: 46%;
    text-align: center;
    display: none;
}
