body {
    margin: 10px;
  }
  
  .glyphicon-move {
    cursor: move;
    cursor: -webkit-grabbing;
  }

  .tinted {
	background-color: #fff6b2;
}

.handle {
	cursor: grab;
}

/* example 7 */
.input-section {
	background-color: rgb(255,255,255,0.5);
	padding: 20px;
}

.square-section {
	background-color: rgb(255,255,255,0.5);
}
.square {
	width: 20vw;
	height: 20vw;
	background-color: #00a2ff;
	margin-top: 2vw;
	margin-left: 2vw;
	display: inline-block;
	position: relative;
}
.swap-threshold-indicator {
	background-color: #0079bf;
	height: 100%;
	display: inline-block;
}

.inverted-swap-threshold-indicator {
	background-color: #0079bf;
	height: 100%;
	position: absolute;
}

.indicator-left {
	left: 0;
	top: 0;
}

.indicator-right {
	right: 0;
	bottom: 0;
}

.num-indicator {
	position: absolute;
	font-size: 50px;
	width: 25px;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	color: white;
}

/* Example 8 */
.grid-square {
	width: 100px;
	height: 100px;
	display: inline-block;
	background-color: #fff;
	border: solid 1px rgb(0,0,0,0.2);
	padding: 0px;
	margin: 0px;
}

/* Nested */
.nested-sortable, .nested-1, .nested-2, .nested-3 {
	margin-top: 5px;
}

.nested-1 {
	background-color: #e6e6e6;
}

.nested-2 {
	background-color: #cccccc;
}

.nested-3 {
	background-color: #b3b3b3;
}

/*  multi-selected */
.selected {
	background-color: #f9c7c8;
	border: solid red 1px !important;
	z-index: 1 !important;
}

/* swap example */
.highlight {
	background-color: #B7F8C7;
}